#b-left {
  clear: left;
  float: left;
  width: 230px; margin: 25px 10px 10px 0;
}
#b-center {
  margin: 25px 10px 10px 260px;
}
#b-left, #b-center { font-size: 85%; }

pre {font-size: 130%; border: 1px outset;  width: 800px; margin-bottom: 25px; overflow: auto;}
pre ol, pre li {list-style-type: decimal-leading-zero; list-style-position: inside;}
pre div {display: inline;}

h2.green {font: bold 110% Tahoma, sans-serif; background-color: #439151; padding: 3px 0 3px 10px; color: #fff; margin-bottom: 5px;}


body {
  padding:50px;
  background:#996633 url(/images/lines-brown.gif);
  font-family: Arial, Tahoma;
  /*font-size:15px;*/
  color:#222
}

a:link, a:visited {color:#dd8c3e;}
a:hover {color:#8fc6ff}
img {vertical-align:middle;}
img,div,li{behavior:url(/js/png.htc)}

.input{border: 1px solid #B9B59C;background: #fff;font-family: Arial, Tahoma, Verdana;font-size: 13px;color: #000}
.inbutton{border:0px;font-family: Arial, Tahoma, Verdana;font-size: 13px;font-weight: bold;background:#fff;color: #BD0000}

h1 {
  font: normal 120% Tahoma;
  /*font-size:24px;*/
  color:#fff;
  padding-bottom:15px;
}

a.header:link, a.header:visited {
  display:block;
  font: bold 400% "Trebuchet MS", sans-serif;
  color:#2F2419;
  text-transform:uppercase;
  text-decoration:none;
}
a.header:link img, a.header:visited img
{
  vertical-align:baseline
}

ul.menu {overflow: hidden;}
ul.menu li {
  font-size:18px;
  display:block;
  float:left;
  width:180px;
  height:39px;
  line-height:39px;
  margin-bottom:25px;
  text-transform:uppercase;
  text-align:center;
}
ul.menu li a:link,ul.menu li a:visited {color:#fff}
ul.menu li a:hover {color:#dd8c3e}
ul.menu li.active {background:url(/images/menu-active.png)}
ul.menu li.active a:link,ul.menu li.active a:visited {text-decoration:none; color:#8fc6ff}

noindex:-o-prefocus, .rounded-svg {
  background:transparent url(/images/rnd.svg);
  border: none !important; 
}
.rounded { margin:25px 0;width:802px; background-color: white; padding: 10px; }
.rounded-css3 {
  border: 1px solid white;
  -moz-border-radius: 12px;     /* mozilla 1.5 */
  -webkit-border-radius: 12px;  /* safari 3 */
  -khtml-border-radius: 12px;   /* Konqueror */
  -opera-border-radius: 12px;
  border-radius: 12px;          /* CSS3 */
}
