.comment {
    width: 100%;
}

.comment .item {
    overflow: auto;
    background:url(../images/comment-dots.gif) left bottom repeat-x;
    padding:25px 0px 30px 0px;
    font-size:15px;
}

.comment .item h3 {
    padding:0px;
    margin:0px;
    color:#999;
    font-size:13px;
    font-weight:normal
}

.comment .item p {
    padding:0px;
    margin:0px;
}

.addcomment td{
    vertical-align:top;
    padding:10px
}

.addcomment .fielderror {
    color: red;
    font-weight: bold;
}

.quote {
    border: 1px solid #999999;
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 2px 2px;
    font-size: 12px;
    background: #EEEEEE;
}

.quoteAuthor {
    font-style: italic;
}