body{margin:0px;padding:50px;background:#996633 url(../des/lines-brown.gif);font-family:Arial, Tahoma;font-size:15px;color:#222}
div, td{}
A:link, A:visited{color:#dd8c3e;text-decoration:underline}
A:hover{color:#8fc6ff}
.input{border: 1px solid #B9B59C;background: #fff;font-family: Arial, Tahoma, Verdana;font-size: 13px;color: #000}
.inbutton{border:0px;font-family: Arial, Tahoma, Verdana;font-size: 13px;font-weight: bold;background:#fff;color: #BD0000}
img{border:0px;vertical-align:middle}
img,div,li{behavior:url(../des/png.htc)}

h1{font-family:Tahoma;font-size:24px;color:#fff;font-weight:normal; padding:0px 0px 15px 0px; margin:0px}
h2{font-family:Tahoma;font-size:24px;color:#fff;font-weight:normal; padding:0px 0px 15px 0px; margin:0px}

.header a:link,.header a:visited{display:block;font-family:"Trebuchet MS";color:#2F2419;font-size:64px;text-transform:uppercase;text-decoration:none;font-weight:bold}
.header a:link img,.header a:visited img{vertical-align:baseline}

ul.menu{padding:0px;margin:0px}
ul.menu li{font-size:18px;display:block;float:left;width:180px;text-transform:uppercase;text-align:center;height:39px;line-height:39px;margin-bottom:25px}
ul.menu li a:link,ul.menu li a:visited{color:#fff}
ul.menu li a:hover{color:#dd8c3e}
ul.menu li.active{background:url(../des/menu-active.png)}
ul.menu li.active a:link,ul.menu li.active a:visited{text-decoration:none; color:#8fc6ff}



.block{clear:both;padding-top:25px;width:700px}
.block .top{background:url(../des/round-top.png) top no-repeat;height:20px;line-height:20px}
.block .bottom{background:url(../des/round-bottom.png) bottom no-repeat;height:20px;line-height:20px}
.block .content{padding:0px 25px 0px 25px;background:#fff}